.dialogs__item {
    display: flex;
    // width: 300px;
    // margin-bottom: 20px;
    padding: 10px 20px;
    cursor: pointer;

    &:active,
    &:hover {
        background-color: #f3f7ff;
    }

    &-avatar {
        margin-right: 10px;
    }

    &-info {
        width: 100%;

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span:nth-of-type(1) {
                margin-right: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 200px;
            }
        }
    }
}