.dialogs__item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 66px;
    cursor: pointer;

    &--selected,
    &:hover {
        // background-color: #f3f7ff;
        background-color: #e0ebff;
    }

    &-avatar {
        margin-right: 10px;
    }

    &-info {
        width: 100%;

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span:nth-of-type(1) {
                margin-right: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 200px;
                display: inline-block;
                height: 25px;
            }
        }
    }
}