.send {
    background-color: #fff;

    .ant-btn-icon {
        .anticon {
            font-size: 22px;
            opacity: 0.5;
            transition: opacity 0.15s ease-in-out;
        }
    }

    position: relative;

    // .ant-upload-list {
    //     position: absolute;
    //     right: 10px;
    //     bottom: 60px;
    //     background-color: #fff;
    //     margin-top: 0;
    // }

        // * tile uploaded pictures */ 
        .upload-list-inline .ant-upload-list-item {
            float: left;
            width: 200px;
            margin-inline-end: 8px;
        }
    
        .ant-upload-rtl.upload-list-inline .ant-upload-list-item {
            float: right;
        }
}