@import "~reset-css";
@import "./varibles";
@import "./layout/dialogs";

html,
body,
#root,
.wrapper {
    color: #202002;
    font-size: 14px;
    height: 100%;
}

body {
    background-color: #f4f7fd;
}

* {
    --scrollbar-foreground: #a8a8a8;
    --scrollbar-background: #f1f1f1;
    --scrollbar-size: 4px;
    /* плашка-бегунок, фон */
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
    scrollbar-width: thin !important;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-size);
    /* в основном для вертикальных полос прокрутки */
    height: var(--scrollbar-size);
    /* в основном для горизонтальных полос прокрутки */
}

*::-webkit-scrollbar-thumb {
    /* плашка-бегунок */
    background: var(--scrollbar-foreground);
    /* фон */
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    /* фон */
    background: var(--scrollbar-background);
}

.ant-btn-link {
    color: #8c8c8c;
}

.ant-layout-sider-zero-width-trigger {
    position: absolute;
    top: 15px !important;
    color: #202002 !important;
    background: transparent !important;
    z-index: 10 !important;
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
}

.ant-layout-sider {
    transition: all 0s,background 0s !important;
}